* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    
}
body{
    height: 100%;
}

#wrapper {
    margin: 50px;
    padding: 50px;
   
    
}
h1 {
    color: peru;
    font-family: sans-serif, Arial;
    font-size: 30px;
}


#header-container {
    display: flex;
    justify-content: center;
}

#header{
    display: flex;
    background-color: peachpuff;
    border-radius: 15px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.info
{
        display: flex;
        justify-content: center;
        background-color: peachpuff;
        
        border-radius: 15px;
        
    }



li {
    display: flex;
    justify-content: flex-start; 
    background-color: lavenderblush;
    padding: 10px;
}
ul {
    border: 5px dotted palevioletred;
}

h2 {
    display: flex; 
    text-justify: top;
    margin: 10px;
    color: peru;
    font-family: sans-serif, Arial;
    font-size: 25px;
}
#repos {
    display: flex;
    justify-content: flex-start; 
    background-color: lavenderblush;
    padding: 10px;
}
#pictureMe {
    display: flex;
    justify-content: center;
}

#footer-container {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
     background-color: palevioletred;
    text-align: center;
}
#footer {
   
    padding: 20px;
    margin: 20px;

}

#me {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: palevioletred;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.size {
    width: 40px;
    height: 40px;
}

a, img {

  height: 30px;
  width: 30px;
 float: center;
}